<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='admin'>
        <form action="/movie/add" method="POST">
            <div>
                影片名字：<input type="text" name="moviename">
                影片图片地址：<input type="text" 
                name="movieurl">
                影片简介：<textarea cols="20" rows="10" name="movieinfo"></textarea>
                <div>
                    <input type="submit" value="添加影片">
                </div>
            </div>
        </form>

    </div>
</body>
</html>