<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul id="list">
        <%movieList.forEach((v,i)=>{%>
            <li>
                <div><img src="<%= v.movieurl %>" alt=""></div>
                <p><a href="/detail/<%= v._id %>"><%= v.moviename %></a></p>
            </li>
        <%})%>
    </ul>
</body>
</html>